<nav class="navbar">
  <div class="navbar__logo">
    <a href="#inicio" (click)="closeMenu()">
      <img src="assets/logo-gts.png" alt="Logo GTS" class="navbar__logo__img">
    </a>
  </div>

  <button class="navbar__toggle" (click)="toggleMenu()">
    <span></span><span></span><span></span>
  </button>

<ul class="navbar__menu" [class.show-menu]="menuVisible">
    <li class="navbar__item">
      <a href="#nosotros" [class.active]="activeSection === 'nosotros'" (click)="closeMenu()">Nosotros</a>
    </li>
    <li class="navbar__item">
      <a href="#contacto" [class.active]="activeSection === 'contacto'" (click)="closeMenu()">Contáctanos</a>
    </li>
    <li class="navbar__item">
        <a href="https://travel-agencyweb.com.mx/?whitelabelid=GTS" 
          target="_blank" 
          rel="noopener noreferrer" 
          (click)="closeMenu()">
          Cotiza
        </a>   
    </li>
  </ul>
</nav>

<main class="main-layout">
  <app-inicio id="inicio"></app-inicio>
  <app-servicios id="servicios"></app-servicios>
  <app-destinos id="destinos"></app-destinos>
  <app-nosotros id="nosotros"></app-nosotros>
  <app-contacto id="contacto"></app-contacto>
  <app-footer></app-footer>
</main>

<a href="https://wa.me/5537181307" class="whatsapp-btn" target="_blank" rel="noopener noreferrer">
  <img src="/assets/whats.png" alt="WhatsApp" loading="eager">
</a>