<nav class="navbar">
  <div class="navbar__logo">
    <a href="#inicio" (click)="closeMenu()">Horizonte<span>.</span></a>
  </div>

  <button class="navbar__toggle" (click)="toggleMenu()">
    <span></span><span></span><span></span>
  </button>

  <ul class="navbar__menu" [class.show-menu]="menuVisible">
    <li class="navbar__item"><a href="#servicios" (click)="closeMenu()">Servicios</a></li>
    <li class="navbar__item"><a href="#destinos" (click)="closeMenu()">Destinos</a></li>
    <li class="navbar__item"><a href="#nosotros" (click)="closeMenu()">Nosotros</a></li>
    
    <li class="navbar__item">
      <a href="#contacto" class="navbar__button" (click)="closeMenu()">Contáctanos</a>
    </li>
  </ul>
</nav>

<main class="main-layout">
  <app-inicio id="inicio"></app-inicio>
  <app-servicios id="servicios"></app-servicios>
  <app-destinos id="destinos"></app-destinos>
  <app-nosotros id="nosotros"></app-nosotros>
  <app-contacto id="contacto"></app-contacto>
  <app-footer></app-footer>
</main>